In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
print(os.listdr())

NameError: name 'os' is not defined

In [3]:
df = pd.read_csv("unicorns till sep 2022.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'unicorns till sep 2022.csv'

In [4]:
df = pd.read_csv(r"C:\Users\Nolan Nehring\Documents\unicorns till sep 2022.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (4069468814.py, line 1)

In [5]:
df = pd.read_csv(r"C:\Users\Nolan Nehring\Documents\unicorns till sep 2022.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   object
 3   Country         1186 non-null   object
 4   City            1186 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1168 non-null   object
dtypes: object(7)
memory usage: 65.0+ KB

In [7]:
df.isna().sum()

Company            0
Valuation ($B)     0
Date Joined        0
Country            0
City               0
Industry           0
Investors         18
dtype: int64

In [8]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [9]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [10]:
df['Industry'].value_counts()

Fintech                                                               239
Internet software & services                                          224
E-commerce & direct-to-consumer                                       103
Health                                                                 94
Artificial intelligence                                                74
Supply chain, logistics, & delivery                                    65
Other                                                                  65
Cybersecurity                                                          58
Data management & analytics                                            45
Auto & transportation                                                  40
Hardware                                                               38
Mobile & telecommunications                                            37
Edtech                                                                 32
Consumer & retail                                                      28
Travel                                                                 14
Artificial Intelligence                                                11
Internet                                                                2
Sequoia Capital China, ING, Alibaba Entrepreneurs Fund                  1
Andreessen Horowitz, DST Global, IDG Capital                            1
B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution      1
Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures         1
Mundi Ventures, Doqling Capital Partners, Activant Capital              1
SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures                1
Dragonfly Captial, Qiming Venture Partners, DST Global                  1
Sequoia Capital China, Shunwei Capital Partners, Qualgro                1
Tiger Global Management, Tiger Brokers, DCM Ventures                    1
500 Global, Rakuten Ventures, Golden Gate Ventures                      1
Hopu Investment Management, Boyu Capital, DC Thomson Ventures           1
Vision Plus Capital, GSR Ventures, ZhenFund                             1
GIC. Apis Partners, Insight Partners                                    1
Jungle Ventures, Accel, Venture Highway                                 1
Kuang-Chi                                                               1
Sequoia Capital, Thoma Bravo, Softbank                                  1
Temasek, Guggenheim Investments, Qatar Investment Authority             1
Name: Industry, dtype: int64

In [11]:
df['Company'].value_counts()

Bolt                   2
Fabric                 2
Branch                 2
ByteDance              1
Public                 1
                      ..
Uptake                 1
Voodoo                 1
Biren Technology       1
WEMAKEPRICE            1
Unstoppable Domains    1
Name: Company, Length: 1183, dtype: int64

In [12]:
df['Country'].value_counts()

United States           636
China                   174
India                    70
United Kingdom           46
Germany                  29
France                   24
Israel                   22
Canada                   19
Brazil                   17
South Korea              17
Singapore                13
Sweden                    8
Mexico                    8
Australia                 8
Indonesia                 7
Netherlands               7
Hong Kong                 7
Ireland                   6
Japan                     6
Switzerland               6
Norway                    5
Finland                   4
Spain                     4
Turkey                    3
Colombia                  3
Belgium                   3
United Arab Emirates      3
Austria                   2
Lithuania                 2
Vietnam                   2
Thailand                  2
Estonia                   2
Chile                     2
Denmark                   2
Philippines               2
Croatia                   2
South Africa              2
Czech Republic            1
Bermuda                   1
Ecuador                   1
Luxembourg                1
Malaysia                  1
Senegal                   1
Nigeria                   1
Bahamas                   1
Argentina                 1
Seychelles                1
Italy                     1
Name: Country, dtype: int64

KeyError: 'City'

In [14]:
df.loc[df['Industry'] == 'Sequoia Capital China, ING, Alibaba Entrepreneurs Fund']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
941,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",NaN

In [18]:
df.loc[df["Investors"] == NaN]

NameError: name 'NaN' is not defined

In [16]:
df.loc[df["Investors"] == 'NaN']

Empty DataFrame
Columns: [Company, Valuation ($B), Date Joined, Country, City , Industry, Investors]
Index: []

In [ ]:
df[df['Investors'].isna()]

In [19]:
# Here is the list of data problems 
# 1. Change the Valuation Column to a Float
# 2. Solve the Industry Nan values
# 3. Change the date to the datetime format
# 4. Split the investors Columns

In [20]:
df['Valuation ($B)'] = df['Valuation ($B)'].astype(float)

ValueError: could not convert string to float: '$140'

In [21]:
df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$', '')

C:\Users\Nolan Nehring\AppData\Local\Temp\ipykernel_10332\1194389174.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$', '')

In [22]:
df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$', '')

C:\Users\Nolan Nehring\AppData\Local\Temp\ipykernel_10332\1194389174.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$', '')

In [23]:
df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$', '', regex=True) # Change the Valuation Column to a Float

In [25]:
df.loc[df['Investors'].isna(), 'Investors'] = df.loc[df['Investors'].isna(), 'Industry']

In [27]:
df['Investors'].fillna(df['Industry'], inplace=True) # Moves the Value from Industry to Investors

In [28]:
df.loc[df['Industry'] == 'Sequoia Capital China, ING, Alibaba Entrepreneurs Fund']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
941,WeLab,1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...","Sequoia Capital China, ING, Alibaba Entreprene..."

In [29]:
# Time to find all of the rows that changed
grouped = df.groupby(['Industry', 'Investors'])

In [30]:
grouped.size()

Industry                                                         Investors
500 Global, Rakuten Ventures, Golden Gate Ventures               500 Global, Rakuten Ventures, Golden Gate Ventures                   1
Andreessen Horowitz, DST Global, IDG Capital                     Andreessen Horowitz, DST Global, IDG Capital                         1
Artificial Intelligence                                          Andreessen Horowitz, Greylock Partners, Sequoia Capital              1
                                                                 Andreessen Horowitz, Intel Capital, Foundation Capital               1
                                                                 Chiratae Ventures, March Capital Partners, National Grid Partners    1
                                                                                                                                     ..
Travel                                                           SoftBank Group, Sequoia Capital India,Lightspeed India Partners      1
                                                                 Spark Capital, Highland Europe, Sunstone Capital                     1
                                                                 Vostok New Ventures, The Raine Group, Balderton Capital              1
Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures  Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures      1
Vision Plus Capital, GSR Ventures, ZhenFund                      Vision Plus Capital, GSR Ventures, ZhenFund                          1
Length: 1183, dtype: int64

In [32]:
grouped.info()

AttributeError: 'DataFrameGroupBy' object has no attribute 'info'

In [33]:
def custom_function(group):
    city = group['City'].iloc[0]
    group['Industry'] = city.upper()
    return group

grouped = df.groupby(['City'])
result = grouped.apply(custom_function)

KeyError: 'City'

In [34]:
mask = df['Industry'] == df['Investors']
df.loc[mask, 'Industry'] = df.loc[mask, 'City']

KeyError: 'City'

In [35]:
df['City'].value_counts()

KeyError: 'City'

In [36]:
df.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City ',
       'Industry', 'Investors'],
      dtype='object')

In [37]:
# City has a space in it at the end needs to change it
df.rename(columns={'City ': 'City'}, inplace=True)

In [38]:
df.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City ',
       'Industry', 'Investors'],
      dtype='object')

In [39]:
df.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City ',
       'Industry', 'Investors'],
      dtype='object')

In [40]:
# City has a space in it at the end needs to change it
df.rename(columns={'City': 'City'}, inplace=True)

In [41]:
df.columns = df.columns.str.rstrip()

In [42]:
print(df.columns)

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City',
       'Industry', 'Investors'],
      dtype='object')

In [43]:
mask = df['Industry'] == df['Investors']
df.loc[mask, 'Industry'] = df.loc[mask, 'City']

In [44]:
df['City'].value_counts()

San Francisco     168
New York          111
Beijing            62
Shanghai           46
London             36
                 ...
Lagos               1
Pennsauken          1
Plantation          1
Portola Valley      1
Las Vegas           1
Name: City, Length: 286, dtype: int64

In [45]:
# Check to see if the value trasnfered
if df['City'].equals(df['Industry']):
    print("Column A and column B have the same values")
else:
    print("Column A and column B do not have the same values")

Column A and column B do not have the same values

In [46]:
df.loc[df['Investors'] == 'Sequoia Capital China, ING, Alibaba Entrepreneurs Fund']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
941,WeLab,1,11/8/2017,Hong Kong,Fintech,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene..."

In [47]:
df.loc[df['Industry'] == df['City'], 'City'] = np.nan

In [48]:
df[df['City'].isna()]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
10,FTX,32,7/20/2021,Bahamas,NaN,Fintech,"Sequoia Capital, Thoma Bravo, Softbank"
242,HyalRoute,3.50,5/26/2020,Singapore,NaN,Mobile & telecommunications,Kuang-Chi
316,Amber Group,3,6/21/2021,Hong Kong,NaN,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ve..."
346,Moglix,2.60,5/17/2021,Singapore,NaN,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway"
371,Coda Payments,2.50,4/15/2022,Singapore,NaN,Fintech,"GIC. Apis Partners, Insight Partners"
482,Advance Intelligence Group,2,9/23/2021,Singapore,NaN,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund"
495,Trax,2,7/22/2019,Singapore,NaN,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC T..."
865,Carousell,1.10,9/15/2021,Singapore,NaN,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Vent..."
917,LinkSure Network,1,1/1/2015,China,NaN,Shanghai,Mobile & telecommunications
941,WeLab,1,11/8/2017,Hong Kong,NaN,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene..."
1000,PatSnap,1,3/16/2021,Singapore,NaN,Internet software & services,"Sequoia Capital China, Shunwei Capital Partner..."
1027,Matrixport,1.05,6/1/2021,Singapore,NaN,Fintech,"Dragonfly Captial, Qiming Venture Partners, DS..."
1032,Carro,1,6/14/2021,Singapore,NaN,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gat..."
1044,bolttech,1,7/1/2021,Singapore,NaN,Fintech,"Mundi Ventures, Doqling Capital Partners, Acti..."
1054,NIUM,1,7/13/2021,Singapore,NaN,Fintech,"Vertex Ventures SE Asia, Global Founders Capit..."
1065,Cider,1,9/2/2021,Hong Kong,NaN,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital"
1077,Ninja Van,1,9/27/2021,Singapore,NaN,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic..."
1129,ONE,1,12/8/2021,Singapore,NaN,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investm..."

In [49]:
# Now to fix the small error on row 917 and move Shanghai back
df.loc[917,'City'] = 'Shanghai'
df.loc[917,'Industry'] = 'Mobile & telecommunications'
df.loc[917,'Investors'] = 'Haitong Kaiyuan Investment, Northern Light Venture Capital'

In [50]:
df.loc[df['Investors'] == 'Haitong Kaiyuan Investment, Northern Light Venture Capital']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
917,LinkSure Network,1,1/1/2015,China,Shanghai,Mobile & telecommunications,"Haitong Kaiyuan Investment, Northern Light Ven..."

In [51]:
# Change the date to datetime
df['Date Joined'] = pd.to_datetime(df['Date Joined'])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   datetime64[ns]
 3   Country         1186 non-null   object
 4   City            1169 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1186 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 65.0+ KB

In [53]:
# Change the Valuation to float 
df['Valuation ($B)'] = df['Valuation ($B)'].astype(float)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   float64
 2   Date Joined     1186 non-null   datetime64[ns]
 3   Country         1186 non-null   object
 4   City            1169 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1186 non-null   object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 65.0+ KB

In [56]:
# Moves the investors to seprate Columns 
df[['Investor 1', 'Investor 2', 'Investor 3', 'Investor 4']] = df['Investors'].str.split(', ', expand=True)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   float64
 2   Date Joined     1186 non-null   datetime64[ns]
 3   Country         1186 non-null   object
 4   City            1169 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1186 non-null   object
 7   Investor 1      1186 non-null   object
 8   Investor 2      1132 non-null   object
 9   Investor 3      1035 non-null   object
 10  Investor 4      7 non-null      object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 102.0+ KB

In [58]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Investor 1,Investor 2,Investor 3,Investor 4
0,ByteDance,140.0,2017-04-07,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group
1,SpaceX,127.0,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,None
2,SHEIN,100.0,2018-07-03,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",Tiger Global Management,Sequoia Capital China,Shunwei Capital Partners,None
3,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",Khosla Ventures,LowercaseCapital,capitalG,None
4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",Sequoia Capital China,Blackbird Ventures,Matrix Partners,None

In [59]:
# Drops Old Column
df.drop(columns='Investors', inplace=True)

In [60]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor 1,Investor 2,Investor 3,Investor 4
0,ByteDance,140.0,2017-04-07,China,Beijing,Artificial intelligence,Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group
1,SpaceX,127.0,2012-12-01,United States,Hawthorne,Other,Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,None
2,SHEIN,100.0,2018-07-03,China,Shenzhen,E-commerce & direct-to-consumer,Tiger Global Management,Sequoia Capital China,Shunwei Capital Partners,None
3,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,Khosla Ventures,LowercaseCapital,capitalG,None
4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services,Sequoia Capital China,Blackbird Ventures,Matrix Partners,None

In [61]:
# It is cleaned
df.to_csv('./Unicorn_Clean2022.csv')

In [62]:
df['Industry'].value_counts()

Fintech                                246
Internet software & services           226
E-commerce & direct-to-consumer        107
Health                                  94
Artificial intelligence                 76
Supply chain, logistics, & delivery     66
Other                                   65
Cybersecurity                           58
Data management & analytics             45
Auto & transportation                   40
Mobile & telecommunications             38
Hardware                                38
Edtech                                  32
Consumer & retail                       28
Travel                                  14
Artificial Intelligence                 11
Internet                                 2
Name: Industry, dtype: int64